* {
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    margin: 0%;
    text-decoration: none;
} 

.benefit {
    background-color: #ffffff;
    height: auto;
    padding-bottom: 5rem;
    width: 100%;
}

.benefit-container-block h4 {
    color: #000000;
    font-size: 1.25rem;
    padding-top: 1rem;
}

.benefit-container-block img {
    padding-top: 1.88rem;
    width: 8.125rem;
}

.benefit-title {
    color: #000000;
    font-size: 2.5rem;
    font-weight: 700;
    padding-top: 2.5rem;
    text-align: center;
}

button {
    background-color: #585858;
    color: #000000;
    font-weight: 500;
    height: 3.1rem;
    width: 8.8rem;
}

button:hover {
    transform: scale(1.01) perspective(1rem)
}

.button-18 {
    align-items: center;
    background-color: #000000;
    border: 0;
    border-radius: 6.25rem;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25rem;
    max-width: 30rem;
    min-height: 2.5rem;
    min-width: 0rem;
    overflow: hidden;
    padding: 0rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    text-align: center;
    touch-action: manipulation;
    transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
    user-select: none;
    -webkit-user-select: none;
    width: 12.5rem;
    vertical-align: middle;
}

    .button-18:hover,
    .button-18:focus { 
    background-color: #798a94;
}

    .button-18:active {
    background: #09213a;
    color: #ffffffb3;
}

    .button-18:disabled { 
    cursor: not-allowed;
    background: #00000014;
    color: #0000004d;
}

.benefit-container {
    padding-top: 1.25rem;
    text-align: center;
    word-spacing: 3.13rem;
}

.benefit-container-block {
    color: #000000;
    display: inline-block;
    height: 15.63rem;
    vertical-align: top;
    width: 20.63rem;
    word-spacing: 0px;
}

.device {
    height: 20rem;
}

.device-buttons {
    display: flex;
    height: 2.5rem;
    justify-content: center;
    margin: 1rem;
    padding-top: 1.25rem;
}

.device-buttons img {
    padding-left: 0.63rem;
}

.device-buttons .google {
    height: 3.13rem;
    padding-top: 0rem;
    width: 12.5rem;
}

.device-text {
    display: block;
    text-align: center;
}

.device-text h1 {
    color: #000000;
    font-size: 2.19rem;
    padding-top: 4.38rem;
}

.device-text h6 {
    color: #000000;
    font-size: 1rem;
    font-weight: 300;
    padding-top: 1.25rem;
}

.download {
    background-color: #373e83;
    display: block;
    height: 32.5rem;
}

.download-subtext {
    font-size: 1rem;
    font-weight: 300;
}

.download-text {
    align-items: center;
    font-size: 1.25rem;
    font-weight: 500;
    height: 28.75rem;
    line-height: 2.81rem;
    padding-top: 3.75rem;
    text-align: center;
}

.download-text img {
    opacity: 100%;
    width: 11.25rem;
}

.download-title {
    font-size: 2.5rem;
}

.fa {
    color: #000000;
    background-color: #92920a;
    border-radius: 100%;
    font-size: 1.25rem;
    margin: 0.31rem;
    padding: 1.25rem;
    text-align: center;
    text-decoration: none;
    width: 1.25rem;
}

footer {
    background-color: #000000;
    height: auto;
}

.footer-bottom {
    padding-bottom: 6.25rem;
    padding-top: 9.38rem;
}

.footer-block {
    display: inline-block;
    height: 12.5rem;
    font-weight: 12.5rem;
    line-height: 2.5rem;
    padding-right: 0rem;
    padding-top: 0.125rem;
    text-align: left;
    vertical-align: top;
    width: 10rem;
    word-spacing: 0rem;
}

.footer-block h3 {
    color: #798a94;
    font-size: 0.875rem;
    font-weight: bolder;
}

.footer-block h4 {
    font-weight: 200;
}

.footer-block-1 {
    display: inline-block;
    height: auto;
    padding-bottom: 1rem;
    text-align: left;
    vertical-align: top;
    width: 15.625rem;
}

.footer-container {
    padding-left: 10%;
    padding-top: 5rem;
}

.footer-links {
    color: #798a94;
    font-size: 0.69rem;
    padding-right: 3.13rem;
}

.footer-title {
    font-size: 1.56rem;
    font-weight: 700;
    word-spacing: 0rem;
}

html {
    scroll-behavior: smooth;
}

.individual {
    padding-left: 6.25rem;
    padding-top: 3.75rem;
}

.info {
    background-color: #f7f7f7;
    display: block;
    height: auto;
    padding-bottom: 3rem;
}

.info-column {
    display: inline-block;
    height: auto;
    margin-left: 5rem;
    padding-top: 2rem;
    justify-content: space-between;
    width: 13rem;
    vertical-align: top;
}

.info-column-text {
    text-align: left;
}

.info-column-text a {
    color: #006e18;
    font-size: 1.1875rem;
    font-weight: 500;
    list-style: none;
}

.info-column-text h1 {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 800;
}

.info-column-text ul {
    padding-left: 0;
    padding-top: 0.625rem;
    line-height: 2rem;
    list-style: none;
}

.info-row {
    height: auto;
    text-align: center;
}

.info-title {
    color: #000000;
    font-size: 2.175rem;
    font-weight: 600;
    padding-top: 1.875rem;
    text-align: center;
} 

.links-1 {
    word-spacing: 1.25rem;
}

.links-1 a {
    font-weight: 600;
}

.links-1 a:hover {
    color: #00e73a;
}

.links-2 {
    padding-left: 1.25rem;
}

.listen {
    background-color: #202020;
    height: 31.25rem;
    padding-top: 3.125rem;
    text-align: center;
}

.listen img {
    width: 18.75rem;
}

.listen p {
    color: #b1b13b;
    font-size: 1.25rem;
    font-weight: 400;
    padding-top: 1.25rem;
    word-spacing: 1.56rem;
}

#listening {
    height: 20rem;
    padding-left: 12.5rem;
    padding-top: 5rem;
    width: 34.375rem;
}

#mix {
    padding-left: 12.5rem;
    padding-top: 1.875rem;
    width: 6.875rem;
}

#mix-text {
    background-color: #ffffff;
    color: #000000;
}

.navbar {
    align-items: center; 
    background-color: #000000;
    display: flex;
    height: 4.375rem;
    justify-content: space-between;
}

.navbar {
    align-items: center;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.navbar-links {
    height: 100%;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    color: #ffffff;
    display: block;
    padding-left: 0.125rem;
    padding-right: 1.25rem;
    padding-top: 1.625rem;
    text-decoration: none;
}

.login a {
    word-spacing: 0rem;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding-right: 1.25rem;
}

.plan {
    background-color: #d8d8d8;
    height: auto;
}

.plan-benefits {
    color: #000000;
    line-height: 1.875rem;
    padding-left: 1rem;
    padding-top: 0.625rem;
    text-align: left;
}

.plan-benefits h4 {
    color: #000000;
    font-weight: 300;
}

.plan-block-1 {
    background-color: #ffffff;
    border: 0.25rem solid;
    border-color: #ffffff;
    border-radius: 0.3rem;
    box-shadow: 0 0 0.5rem #686868;
    -moz-box-shadow: 0 0 0.5rem #686868;
    -webkit-box-shadow: 0 0 0.5rem #686868;
    color: #000000;
    display: inline-block;
    height: 26.3rem;
    margin-bottom: 2.5rem;
    vertical-align: top;
    width: 19.7rem;
    word-spacing: 0rem;
}

.plan-block-1 hr {
    border-color: #464646;
    margin: auto;
    width: 18.75rem;
}

.plan-block-1 h3 {
    color: #000000;
    font-size: 1.5rem;
    font-weight: 500;
    height: 2rem;
    padding-top: 0.5rem;
    padding-left: 1rem;
    text-align: left;
}

.plan-block-1 h4 {
    color: #000000;
    font-weight: 400;
    padding-left: 1rem;
    text-align: left;
}

.plan-container  {
    margin-top: 1.25rem;
    padding-bottom: 4.37rem;
    padding-top: 2.25rem;
    text-align: center;
    word-spacing: 2rem;
}

.plan-month-tag {
    background-color: #251c7c;
    border-radius: 0.5rem;
    margin-left: 0.875rem;
    margin-top: 0.4375rem;
    padding: 0.1875rem;
    width: 6.25rem;
}

.plan-month-tag h4 {
    color: #ffffff;
    font-size: smaller;
    font-weight: 700;
}

.plan-subtext {
    color: #000000;
    font-weight: 400;
    padding-bottom: 1rem;
    padding-left: 1rem;
    text-align: left;
}

.plan-subtitle {
    color: #000000;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 0.5rem;
    text-align: center;
}

.plan-terms {
    color: #000000;
    padding-left: 1.875rem;
    padding-right: 1.875rem;
    padding-top: 0.625rem;
    text-align: left;
}

.plan-terms a {
    color: #000000;
    font-size: 0.7rem;
    text-decoration: underline;
}

.plan-terms-text {
    color: #000000;
    font-size: 0.7rem;
}

.plan-title {
    color: #000000;
    font-size: 2.6875rem;
    font-weight: 700;
    padding-top: 2.5rem;
    text-align: center;
}

#play {
    padding-left: 12.5rem;
    padding-top: 1.875rem;
    width: 6.875rem;
}

#play-text {
    background-color: #ffffff;
    color: black;
}

.premium {
    background-image: linear-gradient(to right, #251c7c , #92920a);
    display: block;
    height: auto;
}

.premium-button {
    padding-top: 2.5rem;
    word-spacing: 1.875rem;
}

.premium-conditions {
    padding-right: 40%;
    padding-top: 2rem;
    font-weight: 500;
}

.premium-terms {
    text-decoration: underline;
}

.premium-text {
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 15%;
    padding-left: 7%;
    padding-top: 7.5rem;
}

.premium-text h2 {
    font-size: 2.625rem;
    padding-bottom: 0.625rem;
}

.premium-text h3 {
    font-weight: 500;
    padding-top: 1.25rem;
}

.radio-inline-1 {
    text-align: left;
}

.remember input {
    width: 1rem;
}

.search-icon {
    background-color: #f7f7f7;
}

.seperator {
    display: block;
    color: #ffffff;
    padding-top: 1.625rem;
    padding-left: 0.25rem;
    padding-right: 1.25rem;
    text-decoration: none;
}

.signup {
    height: auto;
    margin: auto;
    max-width: 450px;
    text-align: center;
}

.signup h2 {
    color: #8f8f8f;
    font-weight: 500;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
}

.signup-apple {
    background-color: #202020;
    color: #ffffff;
}

.signup-button {
    background-color: #fcfcfc;
    color: #2e2e2e;
    margin-bottom: 2rem;
}

.signup-container div {
    margin-top: 1.2rem;
}

.signup-container #gender {
    padding-right: 4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.signup-container #gender #button {
    color: #000000;
    font-size: 0.9rem;
    padding-right: 1rem;
}

.signup-container #gender #button input {
    height: 1rem;
    padding-right: 0.6rem;
    width: 2rem;
}

.signup-container form {
    margin-right: 4rem;
    margin-top: 0.2rem;
}

.signup-container #profile {
    font-weight: 400;
    padding-top: 0.5rem;
}

.signup-facebook {
    background-color: #3f518b;
    color: #fcfcfc;
}

.signup-form #birthdate input {
    color: #7e7e7e;
    margin-right: 14.4rem;
    padding-right: 0.7rem;
    text-align: left;
    width: 10rem;
}

.signup-form #form-button {
    background-color: #00dd37;
    border-radius: 2rem;
    border-width: 0rem;
}

.signup-form #form-button-2 {
    background-color: #00dd37;
    border-radius: 2rem;
    border-width: 0rem;
    font-size: 1.2rem;
    margin-left: 18rem;
    margin-top: 0.7rem;
}

.signup-form hr {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.signup-form h1 {
    color: #000000;
    font-size: 1.2rem;
}

.signup-form h3 {
    color: #000000;
    font-size: 0.8rem;
    font-weight: 500;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
    text-align: left;
}

.signup-form input {
    border-radius: 0.2rem;
    border-color: #cccccc;
    border-width: 0.05rem;
    color: #000000;
    font-size: 0.9rem;
    height: 2.7rem;
    padding-left: 1rem;
    padding-top: 0.2rem;
    width: 25rem;
}

.signup-form input:hover {
    border-color: #000000;
}

.signup-form #password {
    padding-top: 0.5rem;
    position: absolute;
    text-align: left;
}

.signup-form #password a {
    color: #000000;
    padding-left: 1rem;
}

.signup-form #password a:hover {
    text-decoration: underline;
}

.signup-form-bottom {
    padding-left: 1.25rem;
    font-weight: 500;
}

.signup-form-bottom p {
    color: #000000;
    font-size: 0.7rem;
    margin-top: 0.8rem;
    padding-right: 0.3rem;
    padding-left: 1rem;
}

.signup-form-bottom #login {
    display: inline-block;
    font-size: 1.2rem;
    padding-bottom: 2rem;
    padding-top: 0.5rem;
}

.signup-form-bottom-login {
    display: block;
    font-size: 1rem;
    padding-right: 0rem;
}

.signup-form-bottom-login a {
    color: #07d322;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: underline;
}

.signup-form-bottom-login a:hover {
    color: #009b15;
}

.signup-gmail {
    background-color: #fcfcfc;
}

.signup-icon {
    padding-top: 0.4rem;
}

.signup-pre {
    padding-top: 0.5rem;
}

.signup-pre button {
    border-radius: 2rem;
    border-width: 0.08rem;
    height: 3rem;
    margin-top: 1rem;
    width: 25rem;
}

.signup-pre-2 button {
    border-radius: 2rem;
    border-width: 0.08rem;
    color: #5c5b5b;
    font-weight: 500;
    height: 3rem;
    width: 25rem;
}

.signup-pre-2 button {
    color: #5c5b5b;
    font-weight: 500;
}

.signup-subtitle h1 {
    color: #000000;
    font-size: 1.8rem;
    font-weight: 500;
    padding-top: 2rem;
}

.signup-title {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 1.5em;
}

.social-media {
    padding-right: 10%;
    padding-top: 1rem;
    float: right;
}

.social-media li {
    font-size: 1.25rem;
    list-style: none;
}

.soundwave {
    float: left;
    padding-left: 3.125rem;
    padding-top: 0.55rem;
    width: 2rem;
}

.soundwave-signup {
    width: 2.5rem;
}

.soundwave-2 {
    float: left;
    width: 2rem;
}

.plan-subscribe-button {
    padding-top: 3.4375rem;
}

.plan-subscribe-button-2 {
    padding-top: 1.5625rem;
}

.support {
    background-blend-mode: color-burn;
    background-color: #779b56;
    background-image: url(images/blue.jpeg);
    display: block;
    height: auto;
    padding-bottom: 6rem;
}

.support-columns {
    display: block;
    height: auto;
    line-height: 1.25rem;
    text-align: center;
}

.support-columns div {
    color: #000000;
    display: inline-block;
    height: 4.375rem;
    margin-top: 1.875rem;
    vertical-align: top;
    width: 15.625rem;
    word-spacing: 0rem;
}

.support-columns .div, h1 {
    color: #c7c7c7;
    font-size: 0.875rem;
    font-weight: 500;
}

.support-text {
    line-height: 2.8125rem;
    padding-top: 7.5rem;
    text-align: center;
}

.support-text h1 {
    color: #ffffff;
    font-size: 3.75rem;
    font-weight: 600;
}

.support-text input {
    border: #ffffff;
    border-radius: 0.625rem;
    color: #000000;
    font-size: 1rem;
    height: 2.5rem;
    margin-right: 3.75rem;
    margin-top: 2.5rem;
    padding-left: 1.875rem;
    position: relative;
    width: 60%;
}

.title {
    float: left;
    font-size: 1.5625rem;
    font-weight: bold;
    padding: 0.625rem;
    padding-left: 0.375rem;
}

.title-s {
    position: relative;
}

.title-2 {
    float: left;
    font-size: 25px;
    font-weight: bold;
    padding-left: 0.375rem;
    padding-top: 0.2rem;
}

.title-3 {
    color: #000000;
    font-size: 1.8rem;
    font-weight: 800;
    padding-left: 0.2rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
}

.toggle-button {
    display: none;
    flex-direction: column;
    height: 1.3125rem;
    justify-content: space-between;
    position: absolute;
    right: 1rem;
    top: 0.75rem;
    width: 1.875rem;
}

.toggle-button .bar {
    background-color: #ffffff;
    border-radius: 0.625rem;
    height: 0.1875rem;
    width: 100%;
}

.visit {
    background-color: #ffffff;
    height: 20rem;
}

.visit-text {
    display: block;
    text-align: center;
}

.visit-text h1 {
    color: #000000;
    font-size: 2.8125rem;
    font-weight: 700;
    padding-top: 4.375rem;
}

.visit-text h6 {
    color: #000000;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 1.875rem;
    padding-top: 0.625rem;
}

@media (max-width: 800px) {
    .navbar {
        align-items: flex-start;
        flex-direction: column;
    }

    .toggle-button {
        display: flex;
        padding-top: 0.625rem;
        padding-right: 0.625rem;
    }

    .navbar-links {
        display: none;
        background-color: #000000;
        height: auto;
        padding-bottom: 2rem;
        padding-top: 1.1rem;
        position: relative;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        font-size: 1.5rem;
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }

    .seperator {
        display: none;
    }

    .signup {
        box-sizing: border-box;
        max-width: 400px;
    }

    .title-s {
        padding-top: 0.625rem;
    }

}